body{
    background-image:url(./Assets/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.orden {
        margin-top: 200px;
        background-color: wheat;
        width: 50%;
}

.mybutton{
    align-self: flex-end;
    width:200px
}

.mycard{

    margin-left: 500px;
    
}

.none{
    display: none;
}